/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-nov-2023, 1:00:48
    Author     : fatil
*/

/* Estilo para la tabla de productos */

.navbar {
    background-color: #990099;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #555;
}

.colorbody{
    background-image: url(../img/Fatilu.png);
    background-repeat: repeat;
    font-family: 'Arial', sans-serif;
    background-color: blueviolet;
    color: #333;
    margin: 20px;
  
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: black;
    background-color: blueviolet;
}

th, td {
    border: 1px solid blueviolet;
    text-align: left;
    padding: 8px;
}

th {
    font-family: 'Forte Forward', cursive;
    font-size: 20px;
    background-color: blueviolet;
}
.productos-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.productos-table th, .productos-table td {
    border: 1px solid;
    text-align: left;
    padding: 8px;
    background-color: blueviolet;
}

.productos-table th {
    background-color: blueviolet;
}

@media only screen and (max-width: 600px) {
    /* Estilos para pantallas pequeñas */

    nav a {
        padding: 8px; /* Ajusta el espaciado en enlaces para pantallas pequeñas */
    }
}