<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioDAO</servlet-name>
        <servlet-class>controlador.UsuarioDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolicitudCredito</servlet-name>
        <servlet-class>controlador.SolicitudCredito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionarSolicitudAdminServlet</servlet-name>
        <servlet-class>controlador.GestionarSolicitudAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AprobarSolicitudAdminServlet</servlet-name>
        <servlet-class>controlador.AprobarSolicitudAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RechazarSolicitudAdminServlet</servlet-name>
        <servlet-class>controlador.RechazarSolicitudAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministrarSolicitudesServlet</servlet-name>
        <servlet-class>controlador.AdministrarSolicitudesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministrarSolicitudes</servlet-name>
        <servlet-class>controlador.AdministrarSolicitudes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AprobarSolicitudAdmin</servlet-name>
        <servlet-class>controlador.AprobarSolicitudAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCreditosServle</servlet-name>
        <servlet-class>controlador.AdminCreditosServle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioDAO</servlet-name>
        <url-pattern>/UsuarioDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolicitudCredito</servlet-name>
        <url-pattern>/SolicitudCredito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarSolicitudAdminServlet</servlet-name>
        <url-pattern>/GestionarSolicitudAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AprobarSolicitudAdminServlet</servlet-name>
        <url-pattern>/AprobarSolicitudAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechazarSolicitudAdminServlet</servlet-name>
        <url-pattern>/RechazarSolicitudAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministrarSolicitudesServlet</servlet-name>
        <url-pattern>/AdministrarSolicitudesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministrarSolicitudes</servlet-name>
        <url-pattern>/AdministrarSolicitudes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AprobarSolicitudAdmin</servlet-name>
        <url-pattern>/AprobarSolicitudAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCreditosServle</servlet-name>
        <url-pattern>/AdminCreditosServle</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout> 30 </session-timeout>
    </session-config>
</web-app>
